@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body {
  background-color:#e0c8c8e9;
  color: #373333;
  
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold;
}

a {
  color: #007bff;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  
  border-color: #730909;
  border-radius: 5px;
}

a:hover {
  text-decoration: underline;
  
}

header {
  background-color: hsl(200, 43%, 99%);
  color: #730909;
  padding: 10px;
  text-align: center;
  margin: 15;
}

header h1 {
  margin: 10 10 10 10;
  font-size: 24px;
}


.ultimas-noticias {
  margin: 60px;
}

.ultimas-noticias h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.ultimas-noticias ul {
  list-style: none;
  padding: 0;
}

.ultimas-noticias li {
  margin-bottom: 35px;
  margin-top: 35px;
  border-bottom: 4px solid #8b6969;
  padding-bottom: 10px;
}

.ultimas-noticias li a {
  display: block;
  text-decoration: none;
}

.ultimas-noticias li img {
  float: left;
  margin-right: 10px;
  width: 100px;
  border-radius: 3px;
}

.ultimas-noticias li h3 {
  font-size: 16px;
  margin-top: 5px;
  color: #373333;
}

.ultimas-noticias li p {
  font-size: 14px;
  margin-top: 5px;
}


.categorias {
  margin-top: 20px;
  text-align: center;
}

.categorias h2 {
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.categorias ul {
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
  margin-left: 25px;
  text-align: center;
  border: 2px;
  border-color: black;
}

.categorias li {
  display: inline-block;
  margin-right: 10px;
}

.categorias li a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
}

.categorias li a:hover {
  background-color: #040000;
}


.noticia {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 60px;
}

.noticia h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 45px;
}

.noticia ul {
  list-style: square;
  padding: 20px;
}

.noticia li {
  margin-bottom: 15px;
  border-bottom: 2px solid #c09393;
  padding-bottom: 10px;
}

.noticia li a {
  display: block;
  text-decoration: none;
}

.noticia img {
  float: center;
  margin-right: 10px;
  width: 400px;
  border-radius: 10px;
  position: relative;
  margin: 20px 50px 30px 50px;
}

.noticia li h3 {
  font-size: 16px;
  margin-top: 5px;
}

.noticia li p {
  font-size: 14px;
  margin: 5px 50px 15px 50px;
}


footer {
  background-color: #222;
  color: #fff;
  padding: 15px;
  margin-top: 40px;
  text-align: center;
}


@media (max-width: 768px) {
  

  .ultimas-noticias li img,
  .noticias li img {
    width: 75px;
  }
}
