* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0c8c8e9;
  color: #373333;
  font-family: 'Roboto', sans-serif;
}


a {
  color: #007bff;
  text-decoration: none;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  
  border-color: #730909;
  border-radius: 5px;
}

a:hover {
  text-decoration: underline;
  
}

#botao-filtrar {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px; 
  background-color: #a14d5f; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px;
}

#botao-filtrar:hover {
  background-color: #df0303; 
}

header {
  background-color: hsl(200, 43%, 99%);
  color: #730909;
  padding: 10px;
  text-align: center;
  margin: 15;
}

header h1 {
  margin: 10 10 10 10;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.noticias-lista {
  margin: 50px;
  list-style: none;
  padding: 0;
}

.noticia {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 3px solid #8b6969;
  margin: 70px;
}

.noticia a {
  display: block;
  text-decoration: none;
}

.noticia img {
  display: block;
  position:relative;
  margin: 0 auto;
  width: 200px; 
  padding: 15px;
  border-radius: 27px;
}

.noticia h3 {
  font-size: 16px;
  margin: 0 auto;
  color: #373333;
}

.noticia p {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.noticia li {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14px;
}

.categorias {
  margin-top: 20px;
  text-align: center;
}

.categorias h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #373333;
}

.categorias ul {
  list-style: none;
  padding: 0;
  margin-left: 25px;
  color: #373333;
}

.categorias li {
  display: inline-block;
  margin-right: 10px;
}

.categorias li a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
}

.categorias li a:hover {
  background-color: #040000;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 15px;
  margin-top: 40px;
  text-align: center;
}

/* Telas grandes */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px; 
  }

  .noticia img {
    width: 30%; 
    margin-left: 20%;
  }
}

/* Telas médias */
@media only screen and (max-width: 767px) {
  .noticia img {
    width: 80%; 
    margin-left: 10%; 
  }
}

/* Telas pequenas */
@media only screen and (max-width: 480px) {
  .noticia img {
    width: 100%; 
    margin-left: 
  }
}
